name: Build PHP Image

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'php/**'
      - '.github/workflows/php.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        version:
          - '8.1'
          - '8.2'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Log into github registry ghcr.io
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@369eb591f429131d6889c46b94e711f089e6ca96
        with:
          images: |
            erkenes/php
            ghcr.io/erkenes/php

      - name: Build and push PHP ${{ matrix.version }} Image
        uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0
        with:
          context: ./php/${{ matrix.version }}-fpm-alpine
          push: true
          tags: erkenes/php:${{ matrix.version }}-fpm-alpine
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Push image to GHCR
        run: |
          docker buildx imagetools create \
            --tag ghcr.io/erkenes/php:${{ matrix.version }}-fpm-alpine \
            erkenes/php:${{ matrix.version }}-fpm-alpine
